# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Environment / secrets
.env
*.env

# Large generated data
data/raw/*
